{{ stubHeader .SourceFile "//" }}
using UnityEngine;

namespace BeeTree
{
    /// <summary>
    /// Custom action node: {{ .Name }}
    /// {{ .Description }}
    /// </summary>
    public class {{ .Name }}Action : BTAction
    {
{{ range .Parameters }}        [BTParameter] public {{ .Type | csharpType }} {{ .Name | pascal }}{{ if .Default }} = {{ .Default | csharpDefault }}{{ end }};
{{ end }}
{{ if .BlackboardReads }}        // Blackboard reads: {{ range $i, $k := .BlackboardReads }}{{ if $i }}, {{ end }}{{ $k }}{{ end }}
{{ end }}{{ if .BlackboardWrites }}        // Blackboard writes: {{ range $i, $k := .BlackboardWrites }}{{ if $i }}, {{ end }}{{ $k }}{{ end }}
{{ end }}
        public override void OnInitialize(BTBlackboard blackboard)
        {
            // TODO: Initialize action state
        }

        public override BTStatus OnTick(BTBlackboard blackboard, float deltaTime)
        {
            // TODO: Implement action logic
            return BTStatus.Success;
        }

        public override void OnTerminate(BTBlackboard blackboard, BTStatus status)
        {
            // TODO: Cleanup when action ends
        }
    }
}
